<div class="container mt-3">
  <h4 id="align-center">All entries</h4>
  <div class="all-entries">
    <div class="calendar-entries">
      <%= month_calendar do |date| %>
        <div class="calendar">
          <div class="date-number">
            <div class="date-today">
              <p><%= date.day %></p>
            </div>
          </div>
          <% @articles.each do |item| %>
            <% if item.date == date %>
              <div class="entry">
                <p> <%= link_to item.title, article_path(item)  %> </p>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="list-entries">
      <%= render "search" %>
      <% @articles_list.each do |article| %>
        <%= link_to article_path(article) do %>
          <p> <%= article.date %> <%= article.title %> </p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
