<h1><%= @article.title%>
  <%= link_to "✏️", edit_article_path %>
  <%= link_to "❌",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</h1>
<p>Objectives</p>
<% @objectives.each do |objective| %>
  <% if !objective.achieved? %>
    <div class="d-flex justify-content-center ">
      <%= objective.name %>
      <%= simple_form_for objective do |f| %>
        <%= f.input :achieved, as: :boolean, input_html: { checked: objective.achieved }, wrapper_html: { class: 'checkbox-wrapper' } %>
        <%= f.submit 'Confirm', class: 'button-confirm' %>
      <% end %>
    </div>
  <% else %>
    <p class='objective-tag text-center'><%= objective.achieved %></p>
  <% end %>
<% end %>
<p>Content</p>
<p><%= @article.content%></p>
<%= link_to "<- All articles", articles_path %>
