<h1><%= @article.title%>
<%= link_to "✏️", edit_article_path %>
<%= link_to "❌",
  article_path(@article),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
</h1>

<p><%= @article.content%></p>


<%= link_to "<- All articles", articles_path %>
