<h4 class="title">Your objectives</h4>
<div class="unachieved">
  <p>You have <%= @objectives.select{|i| i.achieved == false}.count %> unachieved objectives</p>
</div>
<% @objectives.each do |objective| %>
  <div class="objective-task-container" data-controller="tasks">
    <div class="objective-container">
      <%= objective.name %>
      <% if objective.tasks.any? %>
        <div class="progress-container">
          <p>Progress</p>
          <div class="progress" role="progressbar" aria-label="Example 1px high" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="height: 3px">
            <div class="progress-bar" style="width: <%= objective.tasks.count > 0 ? (objective.tasks.where(status: true).count * 100) / objective.tasks.count : 0 %>%; background-color: #7B5FF1;"></div>
          </div>
          <p><%= objective.tasks.count > 0 ? (objective.tasks.where(status: true).count * 100) / objective.tasks.count : 0 %> %</p>
        </div>
      <% end %>
      <div class="icons">
        <% if objective.achieved %>
          <p>Achieved</p>
        <% end %>
        <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#editObjective<%= objective.id %>">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
        <!-- Edit Objective Modal -->
        <div class="modal fade" id="editObjective<%= objective.id %>" tabindex="-1" aria-labelledby="editObjectiveLabel<%= objective.id %>" aria-hidden="true">
          <!-- Modal content -->
        </div>
        <% if !objective.achieved %>
          <button type="button" class="btn bg-transparent" data-bs-toggle="modal" data-bs-target="#createTaskModal<%= objective.id %>">
            <i class="fa-solid fa-plus"></i>
          </button>
        <% end %>
        <!-- Create Task Modal -->
        <div class="modal fade" id="createTaskModal<%= objective.id %>" tabindex="-1" aria-labelledby="createTaskModalLabel<%= objective.id %>" aria-hidden="true">
          <!-- Modal content -->
        </div>
        <%= link_to objective_path(objective), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
          <i class="fa-regular fa-trash-can"></i>
        <% end %>
        <% if objective.tasks.any? %>
          <button class="bg-transparent border border-0" data-action="click->tasks#toggle">
            <i class="fa-solid fa-chevron-down"></i>
          </button>
        <% end %>
      </div>
    </div>
    <div class="tasks-container" data-tasks-target="task">
      <% objective.tasks.sort_by(&:deadline).each do |task| %>
        <div class="task">
          <div class="task-info">
            <%= task.name %>
            <p><%= (task.deadline - Date.today).to_i %> days left</p>
          </div>
          <div class="task-icons">
            <% if task.status %>
              <%= simple_form_for task do |f| %>
                <%= f.input :status, as: :hidden, label: false, input_html: { value: false } %>
                <%= button_tag(type: 'submit', class: 'button-confirm') do %>
                  <i class="fa-regular fa-square-check"></i>
                <% end %>
              <% end %>
            <% else %>
              <%= simple_form_for task do |f| %>
                <%= f.input :status, as: :hidden, label: false, input_html: { value: true } %>
                <%= button_tag(type: 'submit', class: 'button-confirm') do %>
                  <i class="fa-regular fa-square"></i>
                <% end %>
              <% end %>
            <% end %>
            <%= link_to task_path(task), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-regular fa-trash-can"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
