<section id="header" class="container">
  <div class="d-flex align-items-center mt-5 mb-5 header-container">
    <div class="header-left">
      <h1>Unleash Your Potential: Track, Achieve, Excel with Career Archive</h1>
      <div class="cta-btn">
        <%= link_to "Create an account", new_user_registration_path %>
      </div>
    </div>
    <%= image_tag "growth.png", alt: "text", class: "header-img" %>
  </div>
</section>
<section id="features">
  <ul class="container">
    <li class="feature">
      <p class="feature-number">01</p>
      <%= image_tag "files.png", alt: "files" %>
      <div class="feature-info">
        <p class="feature-title">Journal</p>
        <p>Chronicle your daily activities, accomplishments, and challenges.</p>
      </div>
    </li>
    <li class="feature ">
      <p class="feature-number">02</p>
      <div class="feature-box">
        <%= image_tag "goal.png", alt: "files" %>
      </div>
      <div class="feature-info">
        <p class="feature-title">Goals</p>
        <p>Set ambitious yet achievable goals for yourself. Track your progress and celebrate your victories as you mark them complete.</p>
      </div>
    </li>
    <li class="feature">
      <p class="feature-number">03</p>
      <%= image_tag "upload.png", alt: "files" %>
      <div class="feature-info">
        <p class="feature-title">Media Upload</p>
        <p>Enhance your entries with visual aids. Upload photos to complement your achievements and memories.</p>
      </div>
    </li>
    <%# <li class="feature flex-row-reverse">
      <p class="feature-number">04</p>
      <%= image_tag "search.png", alt: "files" %>
    <%# <div class="feature-info">
        <p class="feature-title">Search Functionality</p>
        <p>Effortlessly find specific entries by date or title. Quickly locate past accomplishments or insights to aid in evaluations or job interviews.</p>
      </div>
    </li>  %>
  </ul>
</section>
<section id="benefits" class="container">
  <h2>How it can help you:</h2>
  <div class="benefits-list">
    <div class="benefits-img">
      <%= image_tag "planning.png", alt: "planning" %>
    </div>
    <ul>
      <li>
        <p>Career Archive is more than just a journaling tool, it's your personalized career companion.</p>
      </li>
      <li>
        <p><i class="fa-solid fa-check"></i>Streamlined Organization</p>
      </li>
      <li>
        <p><i class="fa-solid fa-check"></i>Strategic Planning</p>
      </li>
      <li>
        <p><i class="fa-solid fa-check"></i>Professional Development</p>
      </li>
      <li>
        <p><i class="fa-solid fa-check"></i>Effortless Retrieval</p>
      </li>
      <li>
        <p><i class="fa-solid fa-check"></i>Confidence Boost</p>
      </li>
      <li>
        <div class="cta-btn">
          <%= link_to "Create an account", new_user_registration_path %>
        </div>
      </li>
    </ul>
  </div>
</section>
